/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(/img/banner.svg);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.heroLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 6%;
  padding-right: 6%;
  flex-wrap: wrap;
  gap: 15px;
}

@font-face {
  font-family: "Nunito";
  src: url("/Nunito-Black.ttf") format("truetype");
}

.heroText {
  color: black;
}

.heroHeaderText {
  font-family: "Nunito";
  color: rgb(33, 37, 41);
  font-size: 18vh;
  margin-bottom: 0;
}

@media screen and (max-width: 570px) {
  .heroHeaderText {
    margin-top: -3vh;
    font-size: 12vh;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 12%;
  padding-right: 12%;
  flex-wrap: wrap;
  gap: 5px;
}

.buttons > * {
  /* Colors from the logo */
  background-color: rgb(33, 37, 41);
  color: rgb(248, 249, 250);
}

.buttons > *:hover {
  /* Color from the banner */
  color: #ffe066;
}
